<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron bg-warning">
        Error page: javax.servlet.error.status_code:
        <h2 class="display-4">[[${#request.getAttribute("javax.servlet.error.status_code")}]] status='[[${status}]]' error='[[${error}]]'</h2>
        javax.servlet.error.message:
        <h3 class="">'[[${#request.getAttribute("javax.servlet.error.message")}]]'</h3>
        <p class="lead">

            <div th:if="${err != null}">
                Errors:
                <ul th:each="a : ${err}">
                    <li th:text="${a}"></li>
                </ul>
            </div><br>

            param.size() - '[[${param.size()}]]'<br>

            <div th:if="${param.size()>0}">
                Params:
                <ul th:each="a : ${param}">
                    <li th:text="|${a.key} - ${a.value[0]}|"></li>
                </ul>
            </div>

            param[0] - '[[${param[0]}]]'<br>
            err - '[[${err}]]'<br><br>
            javax.servlet.forward.context_path - '[[${#request.getAttribute("javax.servlet.forward.context_path")}]]'<br>
            javax.servlet.error.request_uri - '[[${#request.getAttribute("javax.servlet.error.request_uri")}]]'<br>
            #model - '[[${#model}]]'<br>
            #response - '[[${#response}]]'<br>
            #servletContext - '[[${#servletContext}]]'<br>
            exception - '[[${exception}]]'<br>
            status - '[[${status}]]'<br>
            error - '[[${error}]]'<br>
            reason - '[[${reason}]]'<br>
            @environment.getProperty("spring.jpa.hibernate.ddl-auto") - '[[${@environment.getProperty("spring.jpa.hibernate.ddl-auto")}]]'<br>
            register.header - '[[#{register.header}]]'
        </p>

        <hr class="my-4">
        <p>Using this example, you will become more familiar with Spring Security concepts:)</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://spring.io/projects/spring-security" role="button">
                Learn more about Spring Security</a>
        </p>
    </div>
</div>
</body>
</html>